{% extends 'base.html' %}
{% block title %}url{% endblock %}
{% block content %}
<div class="container-sm mx-auto  h-25"  id="src">
    <div class="container-sm w-50 mx-auto py-3">
      <p id="src-link"><a href="{{url}}" target="_blank"><i class="bi bi-link-45deg"></i><span id="src-to-site">https://toclick/u/{{hex}}</span></a></p>
      <button id="copy-btn" type="button" onclick="CopyFunction()" class="btn btn-secondary" >Копировать <span id="copy-text">ctrl c </span></button>
      {{views}} <i class="bi bi-eye"></i>
    </div>
</div>
<script src="/static/javascript/copy.js"></script>
<script>
</script>
{% endblock %}